<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Website Book</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div>
      <section class="pb-4">
        <div class="bg-white border rounded-5">
          <section
            class="w-100 p-4 p-xl-5"
            style="background-color: #9a616d; border-radius: 0.5rem 0.5rem 0 0"
          >
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                <div class="card" style="border-radius: 1rem">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                      <img
                        src="https://images.unsplash.com/photo-1573496359142-b8d87734a5a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80"
                        alt="login form"
                        class="img-fluid"
                        style="border-radius: 1rem 0 0 1rem"
                      />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
                        <form>
                          <div class="text-center align-items-center mb-3 pb-1">
                            <i
                              class="fas fa-cubes fa-2x me-3"
                              style="color: #ff6219"
                            ></i>
                            <span class="h1 fw-bold mb-0 text-center">Website Book</span>
                          </div>

                          <h5
                            class="fw-normal mb-3 pb-3 text-center"
                            style="letter-spacing: 1px"
                          >
                            Registration
                          </h5>

                          <div class="form-outline mb-4">
                            <input
                              type="email"
                              id="formEmail"
                              class="form-control form-control-lg"
                            />
                            <label
                              class="form-label"
                              for="formEmail"
                              style="margin-left: 0px"
                              >Email address</label
                            >
                            <div class="form-notch">
                              <div
                                class="form-notch-leading"
                                style="width: 9px"
                              ></div>
                              <div
                                class="form-notch-middle"
                                style="width: 88.8px"
                              ></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            <input
                              type="password"
                              id="formPass"
                              class="form-control form-control-lg"
                              autocomplete="off"
                              style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                              "
                            />
                            <label
                              class="form-label"
                              for="formPass"
                              style="margin-left: 0px"
                              >Password</label
                            >
                            <div class="form-notch">
                              <div
                                class="form-notch-leading"
                                style="width: 9px"
                              ></div>
                              <div
                                class="form-notch-middle"
                                style="width: 64px"
                              ></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            <input
                              type="password"
                              id="formPassConfirm"
                              class="form-control form-control-lg"
                              autocomplete="off"
                              style="
                                background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAAAXNSR0IArs4c6QAAAPhJREFUOBHlU70KgzAQPlMhEvoQTg6OPoOjT+JWOnRqkUKHgqWP4OQbOPokTk6OTkVULNSLVc62oJmbIdzd95NcuGjX2/3YVI/Ts+t0WLE2ut5xsQ0O+90F6UxFjAI8qNcEGONia08e6MNONYwCS7EQAizLmtGUDEzTBNd1fxsYhjEBnHPQNG3KKTYV34F8ec/zwHEciOMYyrIE3/ehKAqIoggo9inGXKmFXwbyBkmSQJqmUNe15IRhCG3byphitm1/eUzDM4qR0TTNjEixGdAnSi3keS5vSk2UDKqqgizLqB4YzvassiKhGtZ/jDMtLOnHz7TE+yf8BaDZXA509yeBAAAAAElFTkSuQmCC');
                                background-repeat: no-repeat;
                                background-attachment: scroll;
                                background-size: 16px 18px;
                                background-position: 98% 50%;
                              "
                            />
                            <label
                              class="form-label"
                              for="formPassConfirm"
                              style="margin-left: 0px"
                              >Confirm your password</label
                            >
                            <div class="form-notch">
                              <div
                                class="form-notch-leading"
                                style="width: 9px"
                              ></div>
                              <div
                                class="form-notch-middle"
                                style="width: 64px"
                              ></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            <input
                              type="type"
                              id="formFirstName"
                              class="form-control form-control-lg"
                            />
                            <label
                              class="form-label"
                              for="formFirstName"
                              style="margin-left: 0px"
                              >First Name</label
                            >
                            <div class="form-notch">
                              <div
                                class="form-notch-leading"
                                style="width: 9px"
                              ></div>
                              <div
                                class="form-notch-middle"
                                style="width: 88.8px"
                              ></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            <input
                              type="type"
                              id="formLastName"
                              class="form-control form-control-lg"
                            />
                            <label
                              class="form-label"
                              for="formLastName"
                              style="margin-left: 0px"
                              >Last Name</label
                            >
                            <div class="form-notch">
                              <div
                                class="form-notch-leading"
                                style="width: 9px"
                              ></div>
                              <div
                                class="form-notch-middle"
                                style="width: 88.8px"
                              ></div>
                              <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            <select id="formGender" class="form-select form-control-lg">
                              <option selected>male</option>
                              <option>female</option>
                            </select>
                            <label for="formGender" class="form-label"
                            style="margin-left: 0px"
                              >Gender</label
                            >
                            <div class="form-notch">
                                <div
                                  class="form-notch-leading"
                                  style="width: 9px"
                                ></div>
                                <div
                                  class="form-notch-middle"
                                  style="width: 88.8px"
                                ></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="form-outline mb-4">
                            
                            <select id="formUserType" class="form-select form-control-lg">
                              <option selected>user</option>
                              <option>editor</option>
                              <option>chiefeditor</option>
                            </select>
                            <label for="formUserType" class="form-label"
                            style="margin-left: 0px"
                              >User Type</label
                            >
                            <div class="form-notch">
                                <div
                                  class="form-notch-leading"
                                  style="width: 9px"
                                ></div>
                                <div
                                  class="form-notch-middle"
                                  style="width: 88.8px"
                                ></div>
                                <div class="form-notch-trailing"></div>
                            </div>
                          </div>

                          <div class="pt-1 mb-4">
                            <button
                              class="btn btn-dark btn-lg btn-block"
                              type="button"
                            >
                              Login
                            </button>
                          </div>
                          
                          <a href="#!" class="small text-muted"
                            >Terms of use.</a
                          >
                          <a href="#!" class="small text-muted"
                            >Privacy policy</a
                          >
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="p-4 text-center border-top mobile-hidden">
            <a
              class="btn btn-link px-3"
              data-mdb-toggle="collapse"
              href="#example4"
              role="button"
              aria-expanded="false"
              aria-controls="example4"
              data-ripple-color="hsl(0, 0%, 67%)"
            >
              <i class="fas fa-code me-md-2"></i>
              <span class="d-none d-md-inline-block"> Show code </span>
            </a>

            <a class="btn btn-link px-3" data-ripple-color="hsl(0, 0%, 67%)">
              <i class="fas fa-file-code me-md-2 pe-none"></i>
              <span class="d-none d-md-inline-block export-to-snippet pe-none">
                Edit in sandbox
              </span>
            </a>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
